@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");  
body {  
    font-family:"Nunito Sans", sans-serif;
    font-size:0.875rem;
    font-weight:400;
    line-height:1.5;
    color:#3e5569;
    text-align:left;
    background:#fff;
  }  
* { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
} 

* { 
    outline: none;
} 

body { 
    margin: 0; 
    font-family: "Nunito Sans", sans-serif; 
    font-size: 0.875rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #3e5569; 
    text-align: left; 
    background-color: #eeeeee;
} 

body { 
    margin: 0; 
    overflow-x: hidden; 
    color: #3e5569; 
    background: #fff;
} 

html { 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif; 
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -ms-overflow-style: scrollbar; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    position: relative; 
    min-height: 100%;
} 

.bg-6j8 { 
    background-color: #343a40!important;
} 

*,:after,:before { 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
} 

.border-a6h { 
    border-top: 1px solid #e9ecef!important;
} 

.border-l6l { 
    border-color: #6c757d!important;
} 

.box-xsn  { 
    background: #fff; 
    padding: 20px; 
    max-width: 400px; 
    width: 90%; 
    margin: 10% 0;
} 

#rec-nop  { 
    display: none;
} 

footer { 
    display: block;
} 

.text-mso { 
    text-align: center!important;
} 

.footer-n75 { 
    padding: 15px 20px;
} 

.py-4nb { 
    padding-top: 1rem!important;
} 

.py-4nb { 
    padding-bottom: 1rem!important;
} 

.row-591 { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    margin-right: -10px; 
    margin-left: -10px;
} 

.m-t-fp5  { 
    margin-top: 20px;
} 

b { 
    font-weight: bolder;
} 

.p-t-t35  { 
    padding-top: 10px;
} 

.p-b-b72  { 
    padding-bottom: 10px;
} 

ul { 
    margin-top: 0; 
    margin-bottom: 1rem;
} 

.nav-dzz { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    padding-left: 0; 
    margin-bottom: 0; 
    list-style: none;
} 

.tabs-lw9 { 
    border-bottom: 1px solid #dee2e6;
} 

.tabs-42t { 
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    gap: 1px; 
    background-color: #f8f9fa; 
    border: 1px solid #dee2e6; 
    border-radius: 0.25rem;
} 

.fa-msf { 
    -webkit-transition: opacity 0.15s linear; 
    -o-transition: opacity 0.15s linear; 
    transition: opacity 0.15s linear;
} 

.content-wpd > .tab-aqo  { 
    display: none;
} 

.content-wpd > .act-376  { 
    display: block;
} 

.fa-msf:not(.sho-mgo) { 
    opacity: 0;
} 

.col-blm { 
    position: relative; 
    width: 100%; 
    min-height: 1px; 
    padding-right: 10px; 
    padding-left: 10px;
} 

.col-blm { 
    -webkit-box-flex: 0; 
    -ms-flex: 0 0 100%; 
    flex: 0 0 100%; 
    max-width: 100%;
} 

h2 { 
    margin-top: 0; 
    margin-bottom: 0.5rem;
} 

h2 { 
    margin-bottom: 0.5rem; 
    font-family: inherit; 
    font-weight: 700; 
    line-height: 1.2; 
    color: inherit;
} 

h2 { 
    font-size: 30px;
} 

img { 
    vertical-align: middle; 
    border-style: none;
} 

.tabs-lw9 .nav-item-6hx  { 
    margin-bottom: -1px;
} 

.input-ay6 { 
    position: relative; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap; 
    -webkit-box-align: stretch; 
    -ms-flex-align: stretch; 
    align-items: stretch; 
    width: 100%;
} 

.mb-pf3 { 
    margin-bottom: 1rem!important;
} 

.p-t-tjg  { 
    padding-top: 20px;
} 

a { 
    color: #7460ee; 
    text-decoration: none; 
    background-color: transparent; 
    -webkit-text-decoration-skip: objects;
} 

a { 
    color: #2962FF;
} 

.nav-link-r7e { 
    display: block; 
    padding: 0.5rem 1rem;
} 

.tabs-lw9 .nav-link-r7e  { 
    border: 4px solid #e6151500; 
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px;
} 

.tabs-lw9 .nav-link-r7e  { 
    border: 1px solid transparent; 
    border-top-left-radius: 0.25rem; 
    border-top-right-radius: 0.25rem; 
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
} 

a:hover { 
    color: #381be7; 
    text-decoration: underline;
} 

a:hover { 
    text-decoration: none;
} 

.nav-link-r7e:hover { 
    text-decoration: none;
} 

 .tabs-lw9 .nav-link-r7e:hover { 
    border-color: #e9ecef #e9ecef #dee2e6;
} 

 .tabs-lw9 .nav-link-r7e:hover { 
    background-color: #e9ecef;
} 

input { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

input { 
    overflow: visible;
} 

.form-control-fa9 { 
    display: block; 
    width: 100%; 
    padding: 0.375rem 0.75rem; 
    font-size: 0.875rem; 
    line-height: 1.5; 
    color: #4F5467; 
    background-color: #fff; 
    background-clip: padding-box; 
    border: 1px solid #e9ecef; 
    border-radius: 2px; 
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
    -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} 

.form-control-64j { 
    padding: 0.5rem 1rem; 
    font-size: 1.09375rem; 
    line-height: 1.5; 
    border-radius: 2px;
} 

.input-ay6 > .form-control-fa9  { 
    position: relative; 
    -webkit-box-flex: 1; 
    -ms-flex: 1 1 auto; 
    flex: 1 1 auto; 
    width: 1%; 
    margin-bottom: 0;
} 

.input-ay6 > .form-control-fa9:not(:first-child)  { 
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
} 

.input-o7v { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
} 

.input-o7v { 
    margin-right: -1px;
} 

.nav-link-r7e.act-376 { 
    background-color: #007bff; 
    color: #fff; 
    border-color: #007bff;
} 

.tabs-lw9 .nav-link-r7e.act-376  { 
    color: white; 
    background: linear-gradient(to bottom right, #cc66ff 1%, #0033cc 100%); 
    border-color: #dee2e6 #dee2e6 #fff;
} 

.tabs-lw9 .nav-link-r7e:focus, .tabs-lw9 .nav-link-r7e:hover { 
    border-color: #e9ecef #e9ecef #dee2e6;
} 

.p-b-k3o  { 
    padding-bottom: 30px;
} 

button { 
    border-radius: 0;
} 

button { 
    margin: 0; 
    font-family: inherit; 
    font-size: inherit; 
    line-height: inherit;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

.btn-7c3 { 
    display: inline-block; 
    font-weight: 400; 
    text-align: center; 
    white-space: nowrap; 
    vertical-align: middle; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    border: 1px solid transparent; 
    padding: 0.375rem 0.75rem; 
    font-size: 0.875rem; 
    line-height: 1.5; 
    border-radius: 2px; 
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; 
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
} 

.info-mt7 { 
    color: #fff; 
    background-color: #2255a4; 
    border-color: #2255a4;
} 

.float-pwg { 
    float: right!important;
} 

button,[type="button"]  { 
    -webkit-appearance: button;
} 

.btn-7c3:not(:disabled):not(.disabled) { 
    cursor: pointer;
} 

.btn-7c3:hover { 
    text-decoration: none;
} 

.info-mt7:hover { 
    color: #fff; 
    background-color: #1b4584; 
    border-color: #193f7a;
} 

.input-kat { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    padding: 0.375rem 0.75rem; 
    margin-bottom: 0; 
    font-size: 0.875rem; 
    font-weight: 400; 
    line-height: 1.5; 
    color: #4F5467; 
    text-align: center; 
    white-space: nowrap; 
    background-color: #f8f9fa; 
    border: 1px solid #e9ecef; 
    border-radius: 2px;
} 

.bg-rys { 
    background-color: #da542e!important;
} 

.text-t4d { 
    color: #fff!important;
} 

.input-ay6 > .input-o7v > .input-kat  { 
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
} 

.form-group-968 { 
    margin-bottom: 1rem;
} 

[type="submit"],button { 
    -webkit-appearance: button;
} 

.success-bgn { 
    color: #fff; 
    background-color: #28b779; 
    border-color: #28b779;
} 

.success-bgn:hover { 
    color: #fff; 
    background-color: #219864; 
    border-color: #1f8d5d;
} 

.success-6ql { 
    background-color: #28b779!important;
} 

.warning-pqo { 
    background-color: #ffb848!important;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-4wA9R.style-4wA9R {  
   margin: 0;  
    padding: 0;  
}